body {
	text-align: center;
}

.ball {
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	margin: 10px;
	border-radius: 20px;
	box-shadow: 0 4px 6px rgba(50, 50, 93, 0.2);
}

.num {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0px;
	text-align: center;
	vertical-align: center;
	line-height: 20px;
	font-size: 12px;
	font-weight: 1000;
	border-radius: 4px;
	color: yellow;
	background-color: rgba(0, 0, 0, 1);
}

.textBonus {
	display: inline-block;
	width: 60px;
	height: 40px;
	line-height: 40px;
	margin: 10px;
	margin-left: 30px;
	text-align: center;
}

.hide {
	display: none;
}